1. Tentukan library digunakan

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

2. Load Dataset

In [2]:
Network_dataset = pd.read_csv('Network.csv')

In [3]:
Network_dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       0   19            19000          0
1  15810944       0   35            20000          0
2  15668575       1   26            43000          0
3  15603246       1   27            57000          0
4  15804002       0   19            76000          0

In [4]:
Network_dataset.isnull()

     User ID  Gender    Age  EstimatedSalary  Purchased
0      False   False  False            False      False
1      False   False  False            False      False
2      False   False  False            False      False
3      False   False  False            False      False
4      False   False  False            False      False
..       ...     ...    ...              ...        ...
395    False   False  False            False      False
396    False   False  False            False      False
397    False   False  False            False      False
398    False   False  False            False      False
399    False   False  False            False      False

[400 rows x 5 columns]

In [5]:
Network_dataset.shape

(400, 5)

In [7]:
Network_dataset['Purchased'].value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [8]:
# memiahkan data dan label
X = Network_dataset.drop (columns='Purchased',axis=1)
Y = Network_dataset['Purchased']

In [9]:
print(X)

      User ID  Gender  Age  EstimatedSalary
0    15624510       0   19            19000
1    15810944       0   35            20000
2    15668575       1   26            43000
3    15603246       1   27            57000
4    15804002       0   19            76000
..        ...     ...  ...              ...
395  15691863       1   46            41000
396  15706071       0   51            23000
397  15654296       1   50            20000
398  15755018       0   36            33000
399  15594041       1   49            36000

[400 rows x 4 columns]

In [10]:
print(Y)

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

3. Memisahkan data Training dan data Testing

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [12]:
print(X.shape, X_train.shape, X_test.shape)

(400, 4) (320, 4) (80, 4)

4. Membuat data latih menggunakan algoritma svm

In [13]:
classifier = svm.SVC(kernel='linear')

In [14]:
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

5. membuat model evaluasi untuk mengukur tingkat akurasi

In [15]:
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [16]:
print('Akurasi data training adalah =', training_data_accuracy)

Akurasi data training adalah = 0.775

In [17]:
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [18]:
print('Akurasi data testing adalah=', test_data_accuracy)

Akurasi data testing adalah= 0.7875

6. Membuat model prediksi

In [25]:
input_data = (15570769,1,26,80000)

input_data_as_numpy_array = np.array(input_data)

input_data_reshape = input_data_as_numpy_array.reshape(1,-1)

prediction = classifier.predict(input_data_reshape)
print(prediction)

if (prediction[0] == 0):
    print('Pelanggan tidak Mengklik Iklan')
else :
    print('Pelanggan Mengklik Iklan')

[0]
Pelanggan tidak Mengklik Iklan

c:\Users\Rosma AP\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

7. Simpan Model

In [21]:
import pickle

In [22]:
filename = 'Network_model.sav'
pickle.dump(classifier, open(filename,'wb'))